<p>
新規ゲーム開始画面です。
</p>
<p>
情景：
</p>
<p>
あなたは今、自らが殺した親友の子供の手を引いている。
その子供の名前はバーナビー、親友の名と同じだ。
バーナビーJr.は、あなたが父親を殺したとは知らない。
現場にこの子供もいたが、あなたのNEXT能力でその記憶を封じてしまったからだ。
だから、彼は大人しくあなたに手を引かれ、
あなたの家の前に連れて来られた。
</p>
<p>
あなたは彼に言う。<br />
「さあ、今日からここが君の家だよ。君はもう一人じゃない」<br/>
そう、あなたは彼を自分の養子として引き取って、
ヒーロー中のヒーローであるKOFに育て上げることにしたのだ。
長い物語が今から始まる。
</p>
<p>
<%= "ゲームを開始しますか？ [" if @current_chara %>
<%= link_to('開始', 'play') if @current_chara %>
<%= "]" if @current_chara %>
</p>
