<h1>ゲーム状態一覧</h1>

<table class="states">
  <col class="id" />
  <col class="user_id" />
  <col class="current" />
  <tr><th>id</th><th>user_id</th><th>current</th></tr>
  <% @states.each do |state| %>
    <%= render :partial => 'state', :locals => { :state => state } %>
  <% end %>
</table>

